.notification {
  background-color: cornflowerblue;

  .notice {
    text-align: center;
    color: white;
    font-size: 30px;
  }
  .alert {
    text-align: center;
    color: white;
    font-size: 30px;
  }
}