.header {
  height: 50px;
  width: 100vw;
  background-color: rgb(56, 50, 82);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-decoration: none;
  position: fixed;

  &__title {
    color: white;
    font-size: 20px;
    width: 250px;
    padding-left: 10px;
  }

  &__signin {
    width: 200px;
    display: flex;

    .left {
      width: 100px;
      font-size: 15px;
    }

    .right {
      width: 100px;
      font-size: 15px;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }
}