.main {
  @include mainBox;

  // 画面左側
  &__memo-index {
    @include memoIndex;

    &__title {
      @include title;
    }

    // index/show/editアクション時の記事一覧表示欄
    &__all {
      @include leftBox;

      .post-all {
        height: 45px;
        width: 411px;
        line-height: 45px;
        margin: 10px 7px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(236, 234, 248);
        border-radius: 5px;

        .post-title {
          height: 20px;
          width: 365px;
          line-height: 10px;
          font-size: 14px;
          padding-left: 8px;
          cursor: pointer;
          font-weight: bold;
          text-decoration: none;
          color: black;

          .time {
            padding-top: 6px;
            color: gray;
            font-size: 7px;
            font-weight: normal;
          }
        }

        .post-delete {
          height: 30px;
          width: 40px;
          font-size: 12px;
          text-align: center;
          line-height: 30px;
          margin: 0 5px;
          background-color: rgb(141, 81, 141);
          border-radius: 5px;

          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
}