.main {
  @include mainBox;

  // 画面左側
  &__memo-index {
    @include memoIndex;

    &__title {
      @include title;
    }

    // メモ欄
    &__box {
      @include leftBox;
      color: black;
      position: relative;

      .input {

        .input-memo {
          height: calc(100vh - 170px);
          width: 410px;
          margin: 10px;
          border: none;
          resize: none;
          font-size: 14px;
          outline: 0px none black;
          overflow: scroll;
        }
      }
    }
  }
}
