.input {
  height: calc(100vh - 120px);
  width: calc(100vw - 470px);

  .title-btn {
    display: flex;

    .input-title {
      height: 50px;
      width: 940px;
      margin-top: 10px;
      margin-left: 10px;
      padding: 0 15px;
      border: none;
      background-color: rgb(236, 234, 248);
    
    }

    .btn {
      appearance: none;
      height: 50px;
      width: 80px;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
      border: none;
      background-color: rgb(56, 50, 82);
      color: white;
      cursor: pointer;
    }
  }

  .input-content {
    height: 580px;
    width: calc(100vw - 520px);
    margin: 10px;
    padding: 0 15px;
    padding-top: 10px;
    overflow: scroll;
    border: none;
    resize: none;
    background-color: rgb(236, 234, 248);
  }
  
  
  
  

}

.detail {

  .title-btn {
    display: flex;

    .title {
      height: 50px;
      width: 940px;
      margin-top: 10px;
      margin-left: 10px;
      padding: 0 15px;
      border: none;
      background-color: rgb(236, 234, 248);
      line-height: 50px;
    }

    .btn {
      // appearance: none;
      height: 50px;
      width: 80px;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
      border: none;
      background-color: rgb(56, 50, 82);
      text-align: center;
      line-height: 50px;

      a {
        color: white;
        text-decoration: none;
      }
      
    }
  }

  .content {
    height: 580px;
    width: 920px;
    margin: 10px;
    padding: 0 15px;
    padding-top: 10px;
    overflow: scroll;
    border: none;
    resize: none;
    background-color: rgb(236, 234, 248);

    .highlight {
      padding-left: 5px;
    }
  }




}






