// new/editアクション時の投稿・編集画面
.input {
  height: calc(100vh - 120px);
  width: calc(100vw - 470px);

  .title-btn {
    display: flex;

    .input-title {
      height: 50px;
      width: 940px;
      margin-top: 10px;
      margin-left: 10px;
      padding: 0 15px;
      border: none;
      background-color: rgb(236, 234, 248);
      border-radius: 5px;
    }

    .btn {
      appearance: none;
      height: 50px;
      width: 80px;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
      border: none;
      background-color: rgb(56, 50, 82);
      color: white;
      cursor: pointer;
      border-radius: 5px;
    }
  }

  .input-content {
    height: 580px;
    width: calc(100vw - 520px);
    margin: 10px;
    padding: 0 15px;
    padding-top: 10px;
    // overflow: scroll;
    border: none;
    resize: none;
    background-color: rgb(236, 234, 248);
    border-radius: 5px;
  }
}

// index/showアクション時の詳細表示欄
.detail {
  height: calc(100vh - 120px);
  width: calc(100vw - 470px);

  .title-btn {
    display: flex;

    .title {
      height: 50px;
      width: 940px;
      margin-top: 10px;
      margin-left: 10px;
      padding: 0 15px;
      border: none;
      background-color: rgb(236, 234, 248);
      line-height: 50px;
      border-radius: 5px;
    }

    .btn {
      // appearance: none;
      height: 50px;
      width: 80px;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
      border: none;
      background-color: rgb(56, 50, 82);
      text-align: center;
      line-height: 50px;
      cursor: pointer;
      border-radius: 5px;

      a {
        color: white;
        text-decoration: none;
      }
      
    }
  }

  .content {
    height: 570px;
    width: calc(100vw - 520px);
    margin: 10px;
    padding: 10px 15px;
    overflow: scroll;
    border: none;
    resize: none;
    background-color: rgb(236, 234, 248);
    border-radius: 5px;

    .highlight {
      padding: 2px 5px;
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
      overflow: scroll;
    }
  }
}






