.input {

  .title-btn {
    display: flex;
  }

  .input-title {
    height: 50px;
    width: 940px;
    margin-top: 10px;
    padding: 0 15px;
    border: none;
  
  }
  
  .input-content {
    height: 585px;
    width: 940px;
    margin-top: 10px;
    padding: 0 15px;
    padding-top: 10px;
    overflow: scroll;
    border: none;
    resize: vertical;
  }
  
  
  
  

}




