// ユーザー新規登録、ログイン画面のデザイン用
@mixin deviseDesign {
  .field {
    height: 80px;
    width: 250px;
    margin: 0 auto;

    .form-title {
      height: 30px;
      width: 200px;
      display: flex;
      align-items: start;
    }

    .input {
      height: 25px;
      width: 245px;
      padding-left: 5px;
    }
  }

  .actions {
    padding-bottom: 30px;

    .devise-btn {
      appearance: none;
      height: 40px;
      width: 80px;
      margin-top: 8px;
      margin-left: 8px;
      margin-right: 8px;
      border: none;
      background-color: rgb(56, 50, 82);
      color: white;
      cursor: pointer;
      border-radius: 10px;
    }
  }
}




// ユーザー新規登録、ログイン画面の全体
.devise-main {
  min-height: calc(100vh - 50px);
  width: 100vw;
  background-color: rgb(81, 98, 116);
  padding-top: 50px;
  display: flex;
  align-items: center;

  .devise {
    min-height: 350px;
    width: 500px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    border-radius: 30px;

    &__title {
      height: 80px;
      line-height: 80px;
      font-weight: bold;
      font-size: 20px;
      border-color: rgb(81, 98, 116);
    }

    // 新規登録
    &__signup {
      min-height: 400px;
      width: 500px;
      padding-top: 10px;
      @include deviseDesign;
    }

    // ログイン
    &__signin {
      min-height: 200px;
      width: 500px;
      padding-top: 10px;
      @include deviseDesign;
    }
  }
}

#error_explanation {
  height: 100px;
  font-weight: bold;
  font-size: 15px;
  color: darkred;
  
}

