.main {
  min-height: calc(100vh - 50px);
  width: 100vw;
  background-color: rgb(81, 98, 116);
  padding-top: 50px;
  display: flex;
  align-items: center;

  .devise {
    height: 500px;
    width: 500px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    border-radius: 30px;

    &__title {
      height: 80px;
      line-height: 80px;
      font-weight: bold;
      font-size: 20px;
      border-color: rgb(81, 98, 116);
    }

    &__signup {
      height: 400px;
      width: 500px;
      padding-top: 10px;

        .field {
          height: 80px;
          width: 250px;
          margin: 0 auto;

          .form-title {
            height: 30px;
            width: 130px;
            display: flex;
            align-items: start;
          }

          .input {
            height: 25px;
            width: 245px;
            padding-left: 5px;
          }
        }

        .actions {

          .devise-btn {
            appearance: none;
            height: 40px;
            width: 80px;
            margin-top: 8px;
            margin-left: 8px;
            margin-right: 8px;
            border: none;
            background-color: rgb(56, 50, 82);
            color: white;
            cursor: pointer;
            border-radius: 10px;
          }
        }

      
    }




    .devise__signin {
      height: 400px;
      width: 500px;
      padding-top: 10px;

      .field {
        height: 80px;
        width: 250px;
        margin: 0 auto;

        .form-title {
          height: 30px;
          width: 130px;
          display: flex;
          align-items: start;
        }

        .input {
          height: 25px;
          width: 245px;
          padding-left: 5px;
        }
      }

      .actions {

        .devise-btn {
          appearance: none;
          height: 40px;
          width: 80px;
          margin-top: 8px;
          margin-left: 8px;
          margin-right: 8px;
          border: none;
          background-color: rgb(56, 50, 82);
          color: white;
          cursor: pointer;
          border-radius: 10px;
        }
      }






    }

    
  }
}


