@mixin mainBox {
  height: calc(100vh - 50px);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: rgb(81, 98, 116);
  padding-top: 50px;
}

@mixin memoIndex {
  height: calc(100vh - 50px);
  width: 450px;
}

@mixin title {
  margin: 10px;
  line-height: 30px;
  font-size: 20px;
  color: white;
  position: fixed;
}

@mixin leftBox {
  background-color: white;
  height: calc(100vh - 120px);
  width: 430px;
  margin: 0 auto;
  margin-top: 10px;
  overflow: scroll;
  position: fixed;
}


@import 'reset';
@import 'header';
@import 'users';
@import 'new';
@import 'index';
@import 'show';
@import 'edit';
@import 'rouge';
@import 'flash';