@import 'reset';
@import 'posts';
@import 'rouge';

// .notifications {
//   color: white;
//   text-align: center;  

//   .notice {
//     background-color: lightBlue;
//   }
// }

.header {
  height: 50px;
  width: 100vw;
  background-color: rgb(56, 50, 82);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-decoration: none;

  &__title {
    color: white;
    font-size: 20px;
    width: 150px;
    padding-left: 10px;
  }

  &__signin {
    width: 200px;
    display: flex;

    .left {
      width: 100px;
      font-size: 15px;
    }

    .right {
      width: 100px;
      font-size: 15px;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.main {
  height: calc(100vh - 50px);
  width: 100vw;
  display: flex;
  justify-content: space-between;

  &__memo {
    height: calc(100vh - 50px);
    width: 450px;
    background-color: rgb(81, 98, 116);

    &__title {
      margin: 10px;
      line-height: 30px;
      font-size: 20px;
      color: white;
    }

    &__box {
      background-color: white;
      height: calc(100vh - 120px);
      width: 430px;
      margin: 0 auto;
      margin-top: 10px;
    }

  }

  &__post {
    height: calc(100vh - 50px);
    width: calc(100vw - 450px);
    background-color: rgb(81, 98, 116);

    &__title {
      margin: 10px;
      line-height: 30px;
      font-size: 20px;
      color: white;
      display: flex;
      justify-content: space-between;

      .post-left {
        width: 150px;
      }

      .post-right {
        display: flex;

        .amounts {
          width: 150px;
          font-size: 18px;
        }
  
        .posts-all {
          width: 120px;
          font-size: 18px;

          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }

    &__box {
      height: calc(100vh - 120px);
      width: calc(100vw - 470px);
      background-color: white;
      margin: 0 auto;
      margin-top: 10px;
    }
  }

  &__index {
    height: calc(100vh - 50px);
    width: 450px;
    background-color: rgb(81, 98, 116);

    &__title {
      margin: 10px;
      line-height: 30px;
      font-size: 20px;
      color: white;
    }

    &__all {
      background-color: white;
      height: calc(100vh - 120px);
      width: 430px;
      margin: 0 auto;
      margin-top: 10px;
      overflow: scroll;

      .post-title {
        height: 50px;
        width: 430px;
        line-height: 50px;
        padding-left: 10px;

        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }

  &__show {
    height: calc(100vh - 50px);
    width: calc(100vw - 450px);
    background-color: rgb(81, 98, 116);

    &__title {
      margin: 10px;
      line-height: 30px;
      font-size: 20px;
      color: white;
    }

    &__all {
      height: calc(100vh - 120px);
      width: calc(100vw - 470px);
      background-color: white;
      margin: 0 auto;
      margin-top: 10px;
    }
  }
}