@import 'reset';
@import 'posts';
@import 'rouge';
@import 'flash';

// .notifications {
//   color: white;
//   text-align: center;  

//   .notice {
//     background-color: lightBlue;
//   }
// }

.header {
  height: 50px;
  width: 100vw;
  background-color: rgb(56, 50, 82);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-decoration: none;
  position: fixed;

  &__title {
    color: white;
    font-size: 20px;
    width: 250px;
    padding-left: 10px;
  }

  &__signin {
    width: 200px;
    display: flex;

    .left {
      width: 100px;
      font-size: 15px;
    }

    .right {
      width: 100px;
      font-size: 15px;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.main {
  min-height: calc(100vh - 50px);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: rgb(81, 98, 116);
  padding-top: 50px;

  // 左側のメモまた記事一覧表示
  &__memo-index {
    height: calc(100vh - 50px);
    width: 450px;

    &__title {
      margin: 10px;
      line-height: 30px;
      font-size: 20px;
      color: white;
      position: fixed;
    }

    // new/editアクション時のメモ欄
    &__box {
      background-color: white;
      height: calc(100vh - 120px);
      width: 430px;
      margin: 0 auto;
      margin-top: 10px;
      position: fixed;
    }

    // index/showアクション時の記事一覧表示欄
    &__all {
      background-color: white;
      height: calc(100vh - 120px);
      width: 430px;
      margin: 0 auto;
      margin-top: 10px;
      overflow: scroll;
      position: fixed;

      .post-all {
        height: 45px;
        width: 411px;
        line-height: 45px;
        margin: 10px 7px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(236, 234, 248);
        border-radius: 5px;

        .post-title {
          height: 20px;
          width: 365px;
          line-height: 10px;
          font-size: 14px;
          padding-left: 8px;
          cursor: pointer;

          a {
            font-weight: bold;
            text-decoration: none;
            color: black;
          }

          .time {
            padding-top: 6px;
            color: gray;
            font-size: 7px;
          }
        }

        .post-delete {
          height: 30px;
          width: 40px;
          font-size: 12px;
          text-align: center;
          line-height: 30px;
          margin: 0 5px;
          background-color: rgb(141, 81, 141);
          border-radius: 5px;

          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }

  // 右側の投稿または詳細表示欄
  &__post {
    min-height: calc(100vh - 50px);
    width: calc(100vw - 450px);
    // background-color: rgb(81, 98, 116);

    &__title {
      margin: 10px;
      line-height: 30px;
      font-size: 20px;
      color: white;
      display: flex;
      justify-content: space-between;

      .post-left {
        width: 150px;
      }

      .post-right {
        display: flex;

        .amounts {
          width: 150px;
          font-size: 18px;

          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }

    &__box {
      height: calc(100vh - 120px);
      width: calc(100vw - 470px);
      background-color: white;
      margin: 10px auto;
      // margin-top: 10px;
    }
  }

  &__show {
    min-height: calc(100vh - 50px);
    width: calc(100vw - 450px);
    background-color: rgb(81, 98, 116);

    &__title {
      margin: 10px;
      line-height: 30px;
      font-size: 20px;
      color: white;
    }

    &__all {
      min-height: calc(100vh - 120px);
      width: calc(100vw - 470px);
      background-color: white;
      margin: 10px auto;
    }
  }
}